*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 20rem;
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

button,
input,
select,
textarea,
a {
  -webkit-tap-highlight-color: transparent;
}

img,
svg {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

::selection {
  background: var(--color-selection);
  color: var(--color-selection-fg);
}
